{% block navbar %}
        <div class="container-fluid">
            <div class="row" style="background-color: #E1151A">
                <div class="col-md-4" >
                    <div class="hei">
                        <img class="hei" src="/images/orleans_pepinieres.png">
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <div class="hei">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="dropdown-img-home hei"
                                     src="https://image.flaticon.com/icons/svg/64/64722.svg"
                                     alt="Menu vers la partie administrateur"></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path ('equipment_index') }}">Équipement</a></li>
                                <li><a href="{{ path ('room_index') }}">Salles</a></li>
                                <li><a href="{{ path ('staff_index') }}">Personnel</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}