{% block navbar %}
        <div class="container-fluid">
            <div class="row" style="background-color: white;">
                <div class="col-md-4" >
                    <div class="hei">
                        <img class="hei" src="/images/orleans_pepinieres.png">
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <div class="hei wheel-center">
                        <div>
                            <a href="{{ path('equipment_index') }}"><i class="fa-red fas fa-cog fa-3x"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}