{% block navbar %}
    <div class="container-fluid container-nav">
        <div class="row home-nav">
            <div class="col-xs-8">
                <a href="{{ path('homepage') }}"><img class="logo-orleans-pepiniere"
                                                      src="/images/orleans_pepinieres.png" alt="Logo Pépinière"></a>
            </div>
            <div class="col-xs-4 height-wheel">
                    <div class="icon-wheel-center height-wheel">
                        <a href="{{ path('equipment_index') }}"><img src="/images/cog.svg" class="icon pull-right "></a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
