{% extends 'layoutMain.html.twig' %}

{% block layout %}
    <div class="container-fluid home heiPage">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="img-responsive" src="images/Logo_LABO_Home.png" alt="Logo du Lab'O">
            </div>
        </div>
    </div>

    <div class="container-fluid heiFooter wheel-center">
        <div class="row">
            <div class="col-md-1 col-md-offset-4">
                <button type="button" class="btn-danger btn-lg btn home-btn width-full">Réservation</button>
            </div>
            <div class="col-xs-1 col-md-offset-2">
                <button type="button" class="btn-danger btn-lg btn home-btn width-full">Retour</button>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}{% endblock %}

