{% extends 'layoutMain.html.twig' %}

{% block layout %}
    <div class="container-fluid home text-center">
        <p>
            <img class="img-responsive" src="images/logo labo_blanc.png" alt="Logo du Lab'O">
        </p>

        <div class="btn-container">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('reservation_new') }}">
                        <button type="button" class="btn btn-home">Nouvelle réservation</button>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('reservation_index') }}">
                        <button type="button" class="btn btn-home">Réservations en cours</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}{% endblock %}

