{% extends 'layoutMain.html.twig' %}

{% block layout %}
    <div class="container-fluid home height80vh">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="img-responsive" src="images/logo labo_blanc.png" alt="Logo du Lab'O">
            </div>
        </div>
    </div>

    <div class="container-fluid height10vh wheel-center">
        <div class="row">
            <div class="col-xs-1 col-md-offset-4">
                <a href="{{ path('reservation_new') }}"><button type="button" class="btn-danger btn-lg btn home-btn width-full">Réservation</button></a>
            </div>
            <div class="col-xs-1 col-md-offset-2">
                <a href="{{ path('reservation_index') }}">
                    <button type="button" class="btn-danger btn-lg btn home-btn width-full">Retour</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}{% endblock %}

