{% block navbar %}
    <nav class="navbar navbar-default admin-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="/images/lab-o-logo.png" alt="Logo du lab'O">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-container">
                    <li><a href="{{ path("equipment_index") }}"><span class="white"> Équipements </span>
                            <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ path("room_index") }}"><span class="white"> Salles </span></a></li>
                    <li><a href="{{ path("staff_index") }}"><span class="white"> Personnel </span></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}