//NAVBAR

.navbar {
  min-height: 100px;
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;

  @media screen and (min-device-width: 768px) {
    ul {
      margin-top: 30px ;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.navbar-header {
  min-height: 110px;
}

.navbar-toggle {
  margin-top: 35px;
}
.admin-nav {
  background-color: $primary-color;

  /*.navbar-nav {
    width: 100%;
    !*display: flex;
    justify-content: space-around;*!
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    height: 100px;
    li {
      height: 100%;
      !*display: flex;
      flex-direction: column;
      justify-content: center;*!
    }
  }*/
}

// LISTING

tr.admin-listing {
  th {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
  td {
    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }

    &.show {
      width: 50px;
    }

    &.edit {
      width: 50px;
    }

    &.delete {
      width: 50px;
    }

    &.double {
      width: 100px;
    }

    &.arrow {
      width: 100px;
      padding: 0;
      margin: 0;

      &:nth-child(2) {
        padding-right: 8px;
      }
      i {
        margin: 2px;
        padding: 2px;
      }
    }
  }
}

.staff-index .edit, .show, .new {
  width: 80px;
}

// COLOR AND STYLE FOR THE FIXED BOTTOM //
section {
  .style-fixed-bot {
    background-color: $light-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .margin-fixed-bottom {
    margin-bottom: 100px;
  }
}

// BOUTONS

.admin-btn {
  background-color: white;
  border: solid 2px $check-color;
  img {
    width: 15px;
  }
}

.admin-listing {
  .equ-order, .arrow {
    @media screen and (max-device-width: 500px) {
      display: none;
    }
  }
}

.th-order {
    @media screen and (max-device-width: 500px) {
      display: none;
    }
}

