//HOME

.container-nav {
  background-color: $light-color;
}

.home-nav {
  background-color: $light-color;
  /*width: 100%;*/
  height: $home-navbar-height;
  font-family: $font-title;
  padding-top: 10px;
  padding-bottom: 10px;

  .logo-orleans-pepiniere {
    width: 200px;

    @media screen and (max-device-width: 500px) {
      width: 150px;
    }
  }
}

.white {
  color: white;
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

.btn-container {
  .col-xs-6 {
    padding: 0px;
  }
}

.home {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-title;
  height: calc(100vh - #{$home-navbar-height});

  img {
    margin: auto;

    @media screen and (max-device-width: 500px) {
      width: 150px;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    @media screen and (min-device-width: 500px) and (max-device-width: 1280px) {
      width: 370px;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    @media screen and (min-device-width: 1280px) {
      width: 370px;
      margin-top: 15px;
      margin-bottom: 60px;
    }
  }
}

.parameters {
  margin-top: -160px;
}

.fa-check {
  color: $check-color;
}

.btn-home {
  background-color: white;
  color: $dark-color;
  border-radius: 3px;
  padding: 8px 14px;
  height: 46px;
  text-transform: uppercase;

  @media screen and (max-device-width: 500px) {
    font-size: 10px !important;
    width: 140px;
    padding: 0px !important;
  }

  @media screen and (min-device-width: 500px) and (max-device-width: 1280px) {
    font-size: 12px !important;
    width: 190px;
  }
}

.btn-container {
  position: relative;
  top: -60px;
}
