@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$primary-color: #E1151A;
$white-color: #FFF;

$catamaran : 'Catamaran', sans-serif;

//ADMIN

tr.admin-listing {
  th {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
  td {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }

    &.edit {
      width: 50px;
    }
    &.delete {
      width: 50px;
    }
  }
}

body {
  h1 {
    font-size: 2.5em;
    font-family: $catamaran;
    text-transform: uppercase;
  }

  h2 {
    color: black;
    font-size: 2em;
    font-family: $catamaran;
  }

  .container-title {
    margin-top: -1px;
    margin-bottom: 35px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .navbar {
    background-color: $primary-color;
    margin: -1px;
  }

  .navbar-brand {
    position: absolute;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: $catamaran;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    height: 100px;
    li {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .white {
    color: $white-color;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .home {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .parameters {
    margin-top: -120px;
  }

}

.icon_size{
  height: 30px;
  width: 30px;


  .home-btn {
    width: 100px;
    height: 50px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.staff-index .edit, .show, .new {
  width: 80px;

}
