@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';
@import 'home';
@import 'admin';

$primary-color: #E1151A;
$white-color: #FFF;
$check-color: #27ae60;
$gray: #F1F0F3;
$mid-gray: #B8AE9C;
$dark-gray: #595241;
$black: #070A0F;
$blue: #ACCFCC;

$font-title: 'Catamaran', sans-serif;

//ADMIN

i.fa-angle-up {
    padding-right: 20px;
    padding-left: 20px;
  }
  i.fa-angle-down {
    padding-right: 20px;
    padding-left: 20px;
  }

tr.admin-listing {

  th {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
  td {

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }

    &.show {
      width: 50px;
    }

    &.edit {
      width: 50px;
    }

    &.delete {
      width: 50px;
    }

    &.double {
      width: 100px;
    }
  }
}

body {
  h1 {
    font-size: 2.5em;
    font-family: $font-title;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2em;
    font-family: $font-title;
  }

  .container-title {
    margin-top: -1px;
    margin-bottom: 35px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .admin-nav {
    background-color: $primary-color;
    margin: -1px;
    .navbar-brand {
      position: absolute;
    }
    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-family: $font-title;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2rem;
      height: 100px;
      li {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  //HOME

  .home-nav {
    border: 0px;
    border-radius: 0px;
    width: 100%;
    padding-right: 50px;
    font-family: $font-title;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $gray;
  }

  .white {
    color: $white-color;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .home {
    background-color: $primary-color ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-title;
  }

  .parameters {
    margin-top: -120px;
  }

  .fa-check {
    color: $check-color;
  }
}

.icon_size {
  height: 30px;
  width: 30px;
  .home-btn {
    width: 100px;
    height: 50px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.height80vh {
  height: 80vh;
}

.height10vh {
  height: 10vh;
}

.fa-red {
  color : black;
}

.wheel-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.width-full {
  width: 100%;
}

.equipment-title {
  margin-bottom: 50px;
}

.add-equipment {
  margin-bottom: 50px;
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .glyphicon {
    font-size: 5rem;
  }
}

.imgSize{
  height: 400px;
}

.widhtButton{
  width: 100%;
}

.spaceWhite{
  height: 100px;
}

.staff-reservation {
  background-color: $gray;
  .reservation-infos {
    padding-top: 50px;
    border-top: $dark-gray 1px solid;
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    .form-control {
      border-radius: 0px;
    }
  }
  .reservation-equipment {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $white-color;
    box-shadow: 5px 0px 20px rgba(0,0,0,0.4);
    .equipment {
      margin-bottom: 30px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: $primary-color;
      padding: 20px;
      border-radius: 5px;
      color: $white-color;
      text-transform: uppercase;
      img {
        width: 180px;
        height: 180px;
        border: $white-color 10px solid;
        margin-bottom: 20px;
        background-color: $white-color;
      }
      .equipment-btns {
        display: flex;
        justify-content: space-around;
      }
      .form-control {
        width: 40px;
        border: none;
        box-shadow: none;
      }
      .plus, .minus {
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        background-color: $white-color;
        color: #595241;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  .btn {
    background-color: $black;
    border: 0px;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: $catamaran;
    text-transform: uppercase;
    &:hover {
      background-color: $black;
    }
  }
}
