@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$primary-color: #E53530;
$white-color: #FFF;
$check-color: #27ae60;
$grey-color: grey;

$catamaran: 'Catamaran', sans-serif;

//ADMIN

tr.admin-listing {

  th {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
  td {

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }

    &.show {
      width: 50px;
    }

    &.edit {
      width: 50px;
    }

    &.delete {
      width: 50px;
    }

    &.double {
      width: 100px;
    }
  }
}

body {
  h1 {
    font-size: 2.5em;
    font-family: $catamaran;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2em;
    font-family: $catamaran;
  }

  .container-title {
    margin-top: -1px;
    margin-bottom: 35px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .admin-nav {
    background-color: $primary-color;
    margin: -1px;
    .navbar-brand {
      position: absolute;
    }
    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-family: $catamaran;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2rem;
      height: 100px;
      li {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }


  //HOME

  .home-nav {
    background-color: $primary-color;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    padding-right: 50px;
    font-family: $catamaran;
    height: 110px;
    .dropdown-img-home {
      width: 100px;
    }
    .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.9);
      border: 0px;
    }
  }

  .white {
    color: $white-color;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .home {
    background-color: $primary-color ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $catamaran;
  }

  .parameters {
    margin-top: -120px;
  }

  .fa-check {
    color: $check-color;
  }

  div.radio {
    margin: 20px;
    font-size: 1.3em;
    font-family: $catamaran;
  }

  div.radio input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-left:-35px;
    margin-top: -1px;
    width: 20px;
    height: 20px;
    background: lighten($primary-color, 30%);
    box-shadow:
            inset 0 0 0 .4em white,
            0 0 0 .2em $primary-color;
    border-radius: 50%;
    transition: .2s;
    cursor:pointer;
    color: $primary-color;

    &:checked {
      background: $primary-color;
      box-shadow:
              inset 0 0 0 .2em white,
              0 0 0 .2em  $primary-color;
    }
    &:focus { outline: 0; }
  }
}

.container-button {
  margin-bottom: 24px;
}

.icon_size {
  height: 30px;
  width: 30px;
  .home-btn {
    width: 100px;
    height: 50px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.staff-index .edit, .show, .new {
  width: 80px;
}

.height80vh {
  height: 80vh;
}

.height10vh {
  height: 10vh;
}

.fa-red {
  color : $primary-color;
}

.wheel-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.width-full {
  width: 100%;
}

.equipment-title {
  margin-bottom: 50px;
}

.add-equipment {
  margin-bottom: 50px;
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .glyphicon {
    font-size: 5rem;
  }
}

.imgSize{
  height: 400px;
}

.button-width{
  width: 120px;
}

.container-button {
  padding: 10px;
}

.spaceWhite{
  height: 100px;
}