@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';
@import 'home';
@import 'admin';

p {
  font-size: 18px;
}

a.primary {
  font-size: 18px;
  &:link, &:visited, &:active {
    color: $dark-color;
    text-decoration: none;
  }

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

//ADMIN

i.fa-angle-up {
  padding-right: 20px;
  padding-left: 20px;
}

i.fa-angle-down {
  padding-right: 20px;
  padding-left: 20px;
}

tr.admin-listing {

  th {
    padding-left: 10px;

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
  td {

    &.name {
      font-size: 1.4em;
      padding-top: 10px;
    }

    &.show {
      width: 50px;
    }

    &.edit {
      width: 50px;
    }

    &.delete {
      width: 50px;
    }

    &.double {
      width: 100px;
    }
  }
}

body {
  h1 {
    font-size: 2.3em;
    font-family: $font-title;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2em;
    font-family: $font-title;
  }

  .container-title {
    margin-top: -1px;
    margin-bottom: 35px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

.icon_size {
  height: 30px;
  width: 30px;
  .home-btn {
    width: 100px;
    height: 50px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.icon {
  width: 50px;
}

.width-full {
  width: 100%;
}

.equipment-title {
  margin-bottom: 50px;
}

.add-equipment {
  margin-bottom: 50px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .glyphicon {
    font-size: 5rem;
  }
}

.imgSize {
  max-height: 350px;
  max-width: 350px;
  margin-bottom: 50px;
}

.widhtButton {
  width: 100%;
}

.height-titre {
  max-height: 120px;
  margin-bottom: 10px !important;
}

.separator-border {
  border-top: solid $dark-color 2px;
}

.spaceWhite {
  height: 100px;
}

.show-btn {
  display: flex;
  justify-content: space-around;
}

.form-control {
  border: white 0px solid;
  background-color: $light-color;
}

.staff-reservation {
  background-color: white;
  h1 {
    margin-top: 30px;
  }
  .reservation-infos {
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    .form-control {
      border: white 0px solid;
      background-color: $light-color;
    }
  }
  .reservation-equipment {
    padding-bottom: 20px;
    background-color: $light-color;
    .res-col {
      min-height: 45vh;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 0px 10px 5px rgba($box-shadow, 0.5);
      .equipment {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $primary-color;
        padding: 20px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        img {
          width: 250px;
          height: 250px;
          border: white 10px solid;
          margin-bottom: 20px;
          background-color: white;
          object-fit: cover;
          @media screen and (max-device-width: 1700px) {
            width: 200px;
            height: 200px;
            border: white 8px solid;
          }

          @media screen and (max-device-width: 1400px) {
            width: 150px;
            height: 150px;
            border: white 6px solid;
          }

          @media screen and (max-device-width: 1100px) {
            width: 100px;
            height: 100px;
            border: white 4px solid;
          }

          @media screen and (max-device-width: 766px) {
            width: 300px;
            height: 300px;
            border: white 10px solid;
          }

          @media screen and (max-device-width: 460px) {
            width: 150px;
            height: 150px;
            border: white 6px solid;
          }
        }
        .equipment-btns {
          display: flex;
          justify-content: space-around;
        }
        .form-control {
          border: none;
          box-shadow: none;
          background-color: $primary-color;
          color: white;
          margin-left: 18%;
          font-size: 2rem;

          @media screen and (max-device-width: 800px) {
            margin-left: 0%;
            font-size: 16px;
            width: 30px;
            padding-right: 0px;
          }
        }
        .plus, .minus {
          border-radius: 50%;
          border: none;
          min-width: 40px;
          max-height: 40px;
          background-color: white;
          color: $dark-color;
          font-weight: bold;
          font-size: 1.5rem;
          @media screen and (max-device-width: 800px) {
            min-width: 25px;
            max-height: 25px;
          }
        }
        p {
          height: 40px;
          @media screen and (max-device-width: 1100px) {
            font-size: 1.5rem;
          }
          @media screen and (max-device-width: 800px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .btn {
    background-color: $primary-color;
    border: 0px;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: $font-title;
    text-transform: uppercase;
    &:hover {
      background-color: $primary-color;
    }
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

//button

.btn {
  border-radius: 3px;
  padding: 8px 14px;
  font-size: 1em;
}

.btn-primary, .btn-warning, .btn-danger {
  background-color: $primary-color;
  border: 1px $primary-color solid;
  &:hover {
    background-color: darken($primary-color, 10%);
    border: 1px $primary-color solid;
  }
}

.room-buttons {
  @media screen and (max-device-width: 500px) {
    font-size: 12px;
  }
}

//ROOM RESERVATION

.btn-reservation {
  width: 40% !important;
}

div.radio {
  margin: 20px;
  font-size: 1.3em;
  font-family: $font-title;
}

div.radio input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-left: -35px;
  margin-top: -1px;
  width: 20px;
  height: 20px;
  background: lighten($primary-color, 30%);
  box-shadow: inset 0 0 0 .4em white,
  0 0 0 .2em $primary-color;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: $primary-color;

  &:checked {
    background: $primary-color;
    box-shadow: inset 0 0 0 .2em white,
    0 0 0 .2em $primary-color;
  }
  &:focus {
    outline: 0;
  }
}

.container-room {
  padding-bottom: 20px;
}

// RECAP RESA

.recap-resa {
  .title {
    padding: 20px;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $light-color;
    .vignette {
      padding-left: 5px;
      padding-right: 5px;
      .container-fluid {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px rgba($box-shadow, 0.5);
        margin: 15px;
      }
      img {
        width: 15px;
      }
    }
    #bcPaintCanvas {
      background-color: white;
      max-width: 100%;
      min-height: 250px;
      box-shadow: inset 0px 0px 10px 5px rgba($box-shadow, 0.1);
      border-radius: 5px;
      border: 2px solid lightgrey;
    }
  }
  .buttons {
    padding-bottom: 20px;
    background-color: white;
    .btn {
      background-color: $primary-color;
      color: white;
      margin: 5px;
    }
  }
}

.fixed-bot-style {
  background-color: $light-color;

  .margin-bt {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

// ARCHIVE DETAILS

.archive-details {
  min-height: 70vh;
  background-color: $light-color;
  .title {
    padding: 30px;
    background-color: white;
  }
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    .vignette {
      padding-left: 5px;
      padding-right: 5px;
      .container-fluid {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px rgba($box-shadow, 0.5);
        margin: 15px;
      }
      img {
        width: 15px;
      }
    }
  }
}

.buttons {
  margin-top: 20px;
  background-color: white;
  .btn {
    background-color: $primary-color;
    color: white;
  }
}

// Alert message //

.error-message {
  margin-top: 30px;
}

// Wheel //
.icon-wheel-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.height-wheel {
  height: 100%;
}

// Button style margin //

.margin-bottom-button {
  margin-bottom: 20px;
}

.margin-top-button {
  margin-top: 20px;
}
