$primary-color: #E1151A;
$white-color: #FFF;
$check-color: #27ae60;
$gray: #F1F0F3;
$mid-gray: #B8AE9C;
$dark-gray: #595241;
$black: #070A0F;
$blue: #ACCFCC;

$home-navbar-height: 80px;

$font-title: 'Catamaran', sans-serif;