<p>Cher {{ reservation.lastName }} {{ reservation.firstName }},</p>

<p>Pour donner suite à votre réservation du {{ reservation.reservationStart.date | date('d/m/Y') }} auprès d'Orléans
    Pépinières et du Lab'O, l'ensemble des éléments n'ont pas été restitués.</p>

<p>Nous vous invitons à régulariser la situation dès que possible ou à contacter l'accueil du Lab'O au 0238698080</p>

<p>Nous vous remercions par avance,</p>

<p>L'ensemble de l'équipe du Lab'O et d'Orléans Pépinières</p>
