<p>Cher {{ reservation.lastName }} {{ reservation.firstName }},</p>

<p>Suite à votre réservation du {{ reservation.reservationStart.date | date('d/m/Y H:i') }} auprès d'orleans pépiniere et du Labo, l'ensemble des éléments n'ont pas été restitués.</p>

<p>Je vous invite à régulariser la situation au plus vite, ou à contacter l'accueil du Lab'O en cas d'impondérable.</p>

<p>D'avance merci, l'ensemble de l'équipe du Lab'O et de la Pépinère</p>
