{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 ">
                <div class="col-xs-6 col-sm-offset-3 ">
                    <form>
                        <div class="form-group">
                            <label for="responsable">Responsable de l'accueil</label>
                            <select class="form-control" id="responsable">
                                {% for staff in staff %}
                                    <option> {{ staff.firstName }} {{ staff.lastName }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
