{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsable de l'Accueil</h1>
    <select class="responsable">
        {% for reservation in reservations %}
            <option>{{ reservation.firstName }} {{ reservation.lastName }}</option>
        {% endfor %}
    </select>
{% endblock %}
