{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}


{% block body %}
    <h1>Page de test : signature</h1>
    <form action="" method="post">
        <div id="container">
            <div id="bcPaint"></div>
            <form action="" method="post">
                <input type="hidden" name="test" id="test">
                <input type="submit" id="bcPaint-export">
            </form>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $('#bcPaint').bcPaint();
        });
    </script>
{% endblock %}
