{% extends 'admin/layoutAdmin.html.twig' %}

{% block layout %}

<section class="admin-listing-room">
    <div class="container-fluid container-title text-center">
        <h1>Gestion des équipements</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div>
                    <h2 class="text-center">Modification de l'équipement</h2>

                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                    <a href="{{ path('equipment_index') }}"><img src="/images/arrow-circle-left.svg" class = "icon
                    margin-bottom-button"
                                                                 alt="retour en arrière"></a>
                    <button type="submit" class="btn btn-warning pull-right margin-bottom-button">Modifier</button>
                        {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
