{% extends 'admin/layoutAdmin.html.twig' %}

{% block layout %}

    <section class="admin-listing-room">
        <div class="container-fluid container-title text-center">
            <h1>Gestion des salles</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div>
                        <h2 class="text-center">Modification des salles</h2>

                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <a href="{{ path('room_index') }}"><img class="icon_size" src="https://use.fontawesome.com/releases/v5.0.13/svgs/solid/arrow-circle-left.svg" alt=""></a>
                        <button type="submit" class="btn btn-warning pull-right">Modifier</button>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
