{% extends 'admin/layout.html.twig' %}

{% block layout %}

    <section class="admin-listing-room">
        <div class="container-fluid container-title text-center">
            <h1>Gestion des salles</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div>
                        <h2 class="text-center">Création d'une nouvelle salle</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <a href="{{ path('room_index') }}"><img class="icon_size"
                                                                src="https://use.fontawesome.com/releases/v5.0.13/svgs/solid/arrow-circle-left.svg"
                                                                alt="Back picture"></a>
                        <button type="submit" class="btn btn-primary pull-right"> - Valider -</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
