{% extends 'admin/layout.html.twig' %}

{% block layout %}
    <section class="admin-listing-staff">
        <div class="container-fluid container-title text-center">
            <h1>Gestion des membres du personnel</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div>
                        <h2 class="text-center">Modification des informations d'un membre du personnel</h2>
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <a href="{{ path('staff_index') }}"><img class="icon_size"
                                                                 src="https://use.fontawesome.com/releases/v5.0.13/svgs/solid/arrow-circle-left.svg"
                                                                 alt="Back picture"></a>
                        <button type="submit" class="btn btn-warning pull-right"> - Modifier -</button>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
