{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Ajout d'un nouveau membre au personnel de l'accueil</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary btn-sm" value="Valider"/>
                {{ form_end(form) }}
                <a href="{{ path('staff_index') }}" class="btn btn-primary btn-sm pull-right" role="button">Retour à la
                    liste</a>
            </div>
        </div>
    </div>
{% endblock %}
